{% set id = field('id') %}
{% set class = field('class') %}
{% set type = field('type') %}
{% set location = field('location') %}
{% set coordinates = field('coordinates') %}
{% set coordinates_label = field('coordinates_label') %}
{% set views = field('views') %}
{% set q = location | url_encode %}
{% set label = location %}

{% set zoom = field('zoom') %}
{% if zoom.value %}
    {% set zoom = zoom.value %}
{% endif %}

{#% if type == 'coordinates' %}
    {% set q = coordinates %}
    {% set label = coordinates_label %}
{% endif %#}

{% set classes = classNames('qx-element qx-element-map', visibilityClass(node.visibility), class ) %}
{% set animation = field("animation") %}
{% set animationRepeat = field("animation_repeat") %}
{% set animationDelay = field('animation_delay').value %}
{% set background = field('background') %}
    
{% embed "animation.twig" with {
    "id" : id,
    "classes" : classes,
    "animation" : animation,
    "animationRepeat" : animationRepeat,
    "animationDelay" : animationDelay,
    "background" : background
} %}
    {% block element %}
        <div class="google-map-container">
            <iframe
                id="googleMaps" 
                frameborder="0" 
                marginheight="0" 
                marginwidth="0" 
                src="https://maps.google.com/maps?q={{q}}&amp;t={{views}}&amp;z={{zoom|default('16')}}&amp;output=embed&amp;iwloc=near" 
                aria-label="{{label}}" 
                allowfullscreen="">
                Loading...
            </iframe>
        </div>
    {% endblock %}
{% endembed %}