{% set id = field('id') %}
{% set class = field('class') %}

{% set divider = field('type') %}
{% set src = field('image') %}
{% set alt_text = field('alt_text') %}
{% set classes = classNames('qx-element qx-element-divider-separator-v2', visibilityClass(node.visibility), class ) %}

{% set animation = field("animation") %}
{% set animationRepeat = field("animation_repeat") %}
{% set animationDelay = field('animation_delay').value %}
{% set background = field('background') %}
  
{% embed "animation.twig" with {
    "id" : id,
    "classes" : classes,
    "animation" : animation,
    "animationRepeat" : animationRepeat,
    "animationDelay" : animationDelay,
    "background" : background
} %}
    {% block element %}
      {% if divider == 'border' %}
        <span class="qx-divider-separator"></span>
      {% else %}
        {% if src.media %}
          {% if src.media.type == "svg" %}
            {{ loadSvg(src.media.svg) | raw }}
          {% else %}
            {{ image( FILE_MANAGER_ROOT_URL ~ src.media.image, alt_text) }}
          {% endif %}  
        {% elseif src.url %}
          {{ image(src.url, alt_text) }}
        {% endif %}
      {% endif %}
  {% endblock %}
{% endembed %}